:root {
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:rgb(36, 35, 35);
    --boder-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 26px;
    --star-gold-color: #ffce3e;
    --header-sort-bar-height: 46px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */


/* Test */

.grid__column-2{
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10{
    width: 83.3334%;
    padding-left: 5px;
    padding-right: 5px;
}

/*Animation*/

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

/*Modal*/
.modal{
    position: fixed;/*Lớp giả chiếm tất màn hình*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: faceIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__body{
    margin: auto;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
    border-radius: 5px;
    --growth-from:0.7;
    --growth-to:1;
    animation: growth linear 0.1s;
}


/* button style */

.btn{
    min-width: 124px;
    height:34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) ;
}

.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
}

/* Selection */

.select-input{
    min-width: 200px;
    position: relative;
    padding: 0 12px;
    border-radius: 2px;
    height: 34px;
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) ;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: var(--white-color);
}

.select-input__list{
    position: absolute;
    left: 0;
    padding-left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    list-style: none;
    padding: 6px 12px;
    display: none;
    background-color: var(--white-color);
}

.select-input__link {
    text-decoration: none;
    display: block;
    color: var(--text-color);
    padding: 5px 0px;
    font-size: 1.4rem;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input:hover .select-input__list {
    display: block;
}

/*Pagination*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item__icon {

}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: var(--primary-color);
    filter: brightness(110%);
    color: var(--white-color);
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
    margin: 0 12px;
}

